//----------------------------------------------------------------
// Bw Modelica
//----------------------------------------------------------------

// Regular
@font-face {
  font-family: "Bw Modelica Regular";
  src: url("../src/font/Bw Modelica/eot/BwModelica-Regular.eot"),
  url("../src/font/Bw Modelica/woff/BwModelica-Regular.woff") format("woff"),
  url("../src/font/Bw Modelica/woff2/BwModelica-Regular.woff2") format("woff2"),
  url("../src/font/Bw Modelica/otf/BwModelica-Regular.otf") format("opentype");
}

// Medium
@font-face {
  font-family: "Bw Modelica Medium";
  src: url("../src/font/Bw Modelica/eot/BwModelica-Medium.eot"),
  url("../src/font/Bw Modelica/woff/BwModelica-Medium.woff") format("woff"),
  url("../src/font/Bw Modelica/woff2/BwModelica-Medium.woff2") format("woff2"),
  url("../src/font/Bw Modelica/otf/BwModelica-Medium.otf") format("opentype");
}

// Bold
@font-face {
  font-family: "Bw Modelica Bold";
  src: url("../src/font/Bw Modelica/eot/BwModelica-Bold.eot"),
  url("../src/font/Bw Modelica/woff/BwModelica-Bold.woff") format("woff"),
  url("../src/font/Bw Modelica/woff2/BwModelica-Bold.woff2") format("woff2"),
  url("../src/font/Bw Modelica/otf/BwModelica-Bold.otf") format("opentype");
}

// ExtraBold
@font-face {
  font-family: "Bw Modelica ExtraBold";
  src: url("../src/font/Bw Modelica/eot/BwModelica-ExtraBold.eot"),
  url("../src/font/Bw Modelica/woff/BwModelica-ExtraBold.woff") format("woff"),
  url("../src/font/Bw Modelica/woff2/BwModelica-ExtraBold.woff2") format("woff2"),
  url("../src/font/Bw Modelica/otf/BwModelica-ExtraBold.otf") format("opentype");
}
