h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  font-family: "Bw Modelica ExtraBold", sans-serif;
}

h1 {
  font-size: 34pt;
}

h2 {
  font-size: 30pt;
}

h3 {
  font-size: 24pt;
}

h4 {
  font-size: 20pt;
}

h5 {
  font-size: 16pt;
}

h6 {
  font-size: 14pt;
}