.message-box{
  margin-bottom: 15px;
  padding: 35px;
  color: white;
  i{
    font-size: 35px;
  }
  p{
    color:white;
    margin-left: 60px;
  }
  &--success{
    background-color: #6270ff;
  }

  &--error{
    background-color: #ff427c;
  }

  &--warning{
    background-color: #ba4eff;
  }

  &--info{
    background-color: #ffcc44;
  }

  &--outlined{
    color: #000;
    p{
      color: #000;
    }

    &--success{
      i{
        color: #6270ff;
      }
      border:3px solid #6270ff;
    }

    &--error{
      i{
        color: #ff427c;
      }
      border:3px solid #ff427c;
    }

    &--warning{
      i{
        color: #ba4eff;
      }
      border:3px solid #ba4eff;
    }

    &--info{
      i{
        color: #ffcc44;
      }
      border:3px solid #ffcc44;
    }
  }
}

.message-type{
  margin-left: 15px;
  font-size: 35px;
  font-weight: bolder;
}