.text-picture {
  background-color: gray;
  height: 350px;
  width: 100%;
}

.blue-square {
  background-color: #6270ff;
  height: 750px;
  width: 900px;

  &--left {
    position: absolute;
    left: 0;
  }

  &--right{
    position: absolute;
    right: 0;
  }
}

.blue-container{
  margin-bottom: 250px;
}

.card{
  padding:25px;

  &--selected{
    box-shadow: 10px 15px 15px gray;
  }
}

