<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../build/style.css">
</head>
<body>
    <header>
        <!--Navigation + logo -->
        <nav>
            <div class="logo">
                <img src="../src/img/logo.png"/>
            </div>

            <ul>


                <li class="active">
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">About Us</a>
                </li>
                <li>
                    <a href="">Services</a>
                </li>
                <li>
                    <a href="">Portofolio</a>
                </li>
                <li>
                    <a href="">Blog</a>
                </li>
                <li>
                    <a href="">Contact</a>
                </li>
                <li class="blue-phone">
                    <a href=""><img src="../src/img/phone.png"/></a>
                </li>
                <li class="phone-number">
                    <a href="">+34 657 3556 778</a>
                </li>
            </ul>
        </nav>

    </header>
</body>
</html>